body{
    /* Backgroud */
    background-image: url('bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    /* height: 100vh; */    
}

/* Div for Random Names and Button */
.randomNames{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 250px;
}

.randomBtn{
    background-color: #37b1bc00;
    border: none;
    width: auto;
    height: 60px;
    font-size: 30px;
    margin-top: 125px;
    /* text-align: center; */
    font-family: 'Press Start 2P';
    position: static;
}

/* The names */
.student{
    font-family: 'Press Start 2P';
    /* font-size: 50px; */
    color: #5164B8;
    animation: mymove 5s infinite;
}

@keyframes mymove {
  45% {font-size: 75px;}
}


/* Animation */

  .pic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130px;
    animation: animate 7s linear infinite;
  }
  
  @keyframes animate {
    0% {
      left: 0;
      transform: translate(-100%);
    }
    100% {
      left: 100%;
      transform: translate(0);
    }
  }


  /* UP DOWN */
  .bro {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 180px;
    animation: MoveUpDown 2s linear infinite;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
  }


  /* .bro{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
  .bro {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
} */